# Titanic

ใน Notebook เราจะทำการวิเคราะห์อย่างละเอียดเกี่ยวกับผู้โดยสารผลเรือ Titanic 

https://www.kaggle.com/datasets/yasserh/titanic-dataset

The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone on board, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

In this challenge, we ask you to build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).

---

การจมเรือไททานิคถือเป็นซากเรืออับปางที่โด่งดังที่สุดแห่งหนึ่งในประวัติศาสตร์

เมื่อวันที่ 15 เมษายน พ.ศ. 2455 ในระหว่างการเดินทางครั้งแรก เรือ RMS Titanic ที่ถือว่า "ไม่มีวันจม" ได้จมลงหลังจากชนกับภูเขาน้ำแข็ง น่าเสียดายที่เรือชูชีพมีไม่เพียงพอสำหรับทุกคนบนเรือ ส่งผลให้ผู้โดยสารและลูกเรือเสียชีวิต 1,502 รายจากทั้งหมด 2,224 ราย

แม้ว่าการเอาชีวิตรอดจะมีองค์ประกอบของโชคอยู่บ้าง แต่ดูเหมือนว่าคนบางกลุ่มมีแนวโน้มที่จะมีชีวิตรอดมากกว่ากลุ่มอื่นๆ

In this challenge : เราขอให้คุณสร้างแบบจำลองการคาดการณ์ที่ตอบคำถาม: “คนประเภทไหนที่มีแนวโน้มที่จะอยู่รอดมากกว่า” ใช้ข้อมูลผู้โดยสาร (เช่น ชื่อ อายุ เพศ ชนชั้นทางเศรษฐกิจและสังคม ฯลฯ)

## Columns 
- PassengerId : Passenger ID
- Survived :  Survived or not: 0 = No, 1 = Yes
- Pclass : Ticket class: 1 = 1st, 2 = 2nd, 3 = 3rd
- Name : Name of the Passenger
- Sex : Gender
- Age : Age in Years
- SibSp : No. of siblings / spouses aboard the Titanic
- Parch : No. of parents / children aboard the Titanic
- Ticket : Ticket number
- Fare : Passenger fare
- Cabin : Cabin number
- Embarked: Port of Embarkation :C = Cherbourg, Q = Queenstown, S = Southampton

แสดงข้อมูล 5 แถวแรก

แสดงข้อมูล 5 แถวสุดท้าย

หาผู้โดยสารที่มีอายุมากที่สุด 10 อันดับ

แสดงจำนวนผู้รอดชีวิตและผู้เสียชีวิต

การเปลี่ยนแปลงข้อมูลใน Columns : เปลี่ยนข้อมูลจาก 0 เป็น No และ 1 เป็น Yes

แสดงจำนวนเพศชาย และ เพศหญิง

แสดงจำนวนผู้รอดชีวิตและผู้เสียชีวิต ที่เป็นเพศชาย

แสดงจำนวนผู้รอดชีวิตและผู้เสียชีวิต ที่เป็นเพศชาย

แสดงจำนวนผู้โดยสารที่ขึ้นมาจากเมืองต่างๆ

แสดงจำนวนผู้โดยการในแต่ละ Class

แสดงกราฟแท่งเปรียบเทียบจำนวนผู้โดยสาร เพศชาย และ เพศหญิง

แสดงกราฟวงกลมเปรียบเทียบจำนวนผู้โดยสาร ในแต่ละ Class

แสดงกราฟเส้นค่าเฉลี่ย อายุ กับ ค่าโดยสาร

แสดงกราฟฮิสโตแกรมอายุผู้โดยสารของเรือ Titanic

แสดงกราฟฮิสโตแกรมอายุผู้โดยสาร ผู้รอดชีวิต VS ผู้เสียชีวิต

แสดงกราฟแบบจุด ความสัมพันธ์ระหว่าง อายุ กับ ค่าโดยสาร

แสดงกราฟแบบจุด ความสัมพันธ์ระหว่าง คลาส กับ ค่าโดยสาร

แสดงกราฟจุด แสดงความสัมพันธ์ คลาส ค่าโดยสาร และ ท่าเรือ

แสดงกราฟจุด แสดงความสัมพันธ์ ค่าโดยสาร ท่าเรือ และ การรอดชีวิต

แสดงกราฟจุด แสดงความสัมพันธ์ ค่าโดยสาร เพศ และ คลาส

แสดงกราฟจุด แสดงความสัมพันธ์ เพศ ค่าโดยสาร และ การรอดชีวิต

แสดงกราฟจุด แสดงความสัมพันธ์ เพศ อายุ และ การรอดชีวิต

แสดงการเปรียบเทียบการรอดชีวิตจากคลาส

แสดงอัตราการรอดชีวิตจากคลาส

แสดงกราฟแบบ Box ความสัมพันธ์ระหว่าง Sex, Age

แสดงกราฟแบบ Box ความสัมพันธ์ระหว่าง Pclass, Fare